[data-theme='compact']
  .site-collapse-custom-collapse
  .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  /* margin-bottom: 24px; */
  overflow: hidden;
  background: #f7f7f7;
  border-radius: 2px;
  border: none;
}
[data-theme='dark'] .site-collapse-custom-collapse .site-collapse-custom-panel {
  background: rgba(255, 255, 255, 0.04);
  border: none;
}
